@media screen and (max-width:500px) {
    .complete-wrap{
        background-color: #21333d;
        height: 100vh;
        overflow-y:auto;
    }
    .intro-screen{
        background:linear-gradient(rgba(156, 45, 253,1),rgba(154, 21, 255,1),rgba(97, 21, 251,1)),url(https://images.unsplash.com/photo-1586253633435-c6cabc298173?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
        background-size: cover;
        height: 100vh;
        width: 100%;
        margin: 0 auto;
        padding-top:40vh;
    }
    .intro-logo{
        height: 2.5rem;
        width: 10rem;
        background-image: url(../logo/logo.png);
        background-size: 100% 100%;
        margin: 0 auto;
        border:0px solid aliceblue;
    }
    .intro-loding{
        height: 3rem;
        width: 3rem;
        border:0px solid aliceblue;
        margin: 7rem auto;
        margin-bottom: 0rem;
        background-image: url(../img/load.gif);
        background-size: 100% 100%;
    }
    .intro-version{
        height:auto;
        width: 5rem;
        border: 0px solid aliceblue;
        margin: 0rem auto;
        margin-top: 9rem;
        color:#ffffff;
        font-size: 1rem;
        text-align: center;
    }

    

            
    /* login screen design */


    .login-screen{
        width: 100%;
        height: 100vh;
        background-color: rgb(250, 240, 255);
        background-color: #ffffff;
        margin: 0 auto;
        margin-top:0;
        overflow-y: auto;
        padding-bottom: 5vh;
    }
    .head-div{
        border: 0px solid black;
        height: auto;
        padding-top: 3vh;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .login-logo{
        height: 2.4rem;
        width: 8rem;
        margin: 0 auto;
        /* background-color: aqua; */
        background: url(../logo/logopurple.png);
        background-size: 100% 100%;
    }
    .login-heading{
        text-align: center;
        font-family: sans-serif;
        margin-top: 8vh;
        font-weight: 600;
        text-transform: capitalize;
        color: #21333d;
        font-size: 2rem;
    }
    .login-form{
        border: 0px solid #000;
        height: auto;
        padding-top: 6.5vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .mail-label{
        font-size: 1rem;
        font-family:sans-serif;
        color: #21333d;
        color: #000000;
        display: block;
        font-weight: 500;
    }
    .label-2-margin{
        margin-top: 4vh;
    }
    .input-mail{
        height: auto;
        font-size: 1.2rem;
        padding-left: 0.5rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-right: 0.3rem;
        border: 1px solid #9c9c9c;
        border-radius:0px 5px 5px 0px;
    }
    #input-logo{
        border: 1px solid #9c9c9c;
        border-radius: 5px 0px 0px 5px;
    }
    .login-font-awsome{
        color: #7829FF;
    }
    .login-btn{
        width: 100%;
        padding-top: 0.4rem;
        padding-bottom: 0.5rem;
        font-size: 1.3rem;
        background-color: #7829FF;
        color: #ffffff;
        border-radius: 5px;
        margin-top: 6vh;
        display: block;
        transition: 0.6s ease-in-out;

    }
    .or-table{
        margin: 1.5rem auto;
        margin-bottom: 0;
    }
    .or-line{
        background-color: rgb(143, 143, 143);
    }
    .register{
        width:70%;
        margin: 0 auto;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        font-size: 1.3rem;
        background-color: #ffffff;
        color: #7829FF;
        border: 2px solid #7829FF;
        border-radius: 5px;
        margin-top:3.5vh;
        display: block;
        transition: 0.6s ease-in-out;
    }
    .register:hover{
        color: #ffffff;
        background-color: #7829FF;
        border: 2px solid #7829FF; 
    }
    .login-btn:hover{
        background-color: #ffffff;
        color: #7829FF;
        border: 2px solid #7829FF; 
    }
}